<section id="contact" class="contacto">
    <div class="container card">
        <div class="row card-header">
            <div class="col-12 mt-4">
                <h2 id="formContacto" class="">Estamos en contacto</h2>
            </div>
        </div>

        <!-- CTA CONTENT  -->
        <div class="row card-body">
            <div class="col-12 col-lg-6 gradient text-white shadow p-3">
                <div class="cta-info w-100">
                    <h3 class="">Inicia el viaje <span class="icon fa-solid fa-rocket"></span></h3>
                    <p class="lh-lg"></p>
                    <img id="rocket" src="./assets/images/arts/rocket/rocket-1.svg">
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow p-3">
                <div class="form w-100 pb-2">
                    <h4 class="display-3--title mb-5">Escribime</h4>
                    <form id="ajaxForm" target="_blank" action="https://formsubmit.co/16536a81c8e95ec51899ef0627d6c3c2"  accept-charset="UTF-8" method="POST" class="row">
                        <input type="hidden" name="_subject" value="New mail web Luigi.Dev">
                        <div class="col-lg-6 col-md mb-3">
                            <input type="text" name="nombre" placeholder="nombre" id="nombre" required class="shadow form-control form-control-lg">
                        </div>
                        <div class="col-lg-6 col-md mb-3">
                            <input type="text" name="apellido" placeholder="apellido" id="apellido" required class="shadow form-control form-control-lg">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="email" name="email" placeholder="email" id="email" required class="shadow form-control form-control-lg">
                        </div>

                        <input type="hidden" name="_next" value="https://luigi970.github.io/luigi.dev/gracias.html">

                        <input type="text" name="_honey" style="display:none">

                        <input type="hidden" name="_captcha" value="false">

                        <input type="hidden" name="_autoresponse" value="Hey!!!, gracias por contactarme.  Ya me contaras sobre tu proyecto.">

                        <input type="hidden" name="_next" value="https://luigi.pages.dev/gracias">

                        <input type="text" name="_honey" style="display:none">

                        <input type="hidden" name="_captcha" value="false">

                        <div class="col-lg-12 mb-3">
                            <textarea name="message" placeholder="tu mensaje" id="message" rows="8" class="shadow form-control form-control-lg"></textarea>
                        </div>
                        <div class="text-center d-grid mt-1">
                            <button type="submit" class="btn btn-primary rounded-pill pt-3 pb-3">
                                enviar
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
