<section id="info" class="info">
    <!-- FIRST CONTENT BLOCK -->
    <div class="container card">
        <!-- CONTENT -->
        <div class="row card-body">
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 mt-4">
                <div class="content_section">
                    <img src="./assets/images/luis.jpg" width="100">
                    <h4 class="">
                        Luis Devesa
                    </h4>
                    <h4 class="card-title">Titulo</h4>
                    <p class="card-text">
                        Contenido.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-4 text-end">
                <button type="button" onclick="location.href = 'htt://google.com'; return false;" class="btn btn-editar">
                    <span>
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>