<section id="educacion" class="educacion">
    <div class="container card">
        <div class="row card-header">
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 mt-4">
                <h3 id="educacion" class="">Educacion</h3>
            </div>
            
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-4 text-end">
                <button type="button" onclick="location.href = 'htt://google.com'; return false;" class="btn btn-crear">
                    <span>
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 mt-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2 p-3">
                            <img src="./assets/images/luis.jpg" width="100">
                            <!-- <div class="icon d-block fas fa-laptop-code"></div> -->
                        <!--<img src="..." class="img-fluid rounded-start" alt="...">-->
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Institucion</h5>
                                <p class="card-text">Nombre, carrera o titulo</p>
                                <p class="card-text"><small class="text-muted">Periodo - año</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-4 text-end">
                <button type="button" onclick="location.href = 'htt://google.com'; return false;" class="btn btn-editar">
                    <span>
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </button>
                
                <button type="button" onclick="location.href = '#formContacto'; return false;" class="btn btn-eliminar">
                    <span>
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
