<!-- //////////////// SECCION ENCABEZADO  ///////////////////////-->
<app-encabezado></app-encabezado>

<!-- //////////////// SECCION ACERCA DE /////////////////////////-->
<app-acerca-de></app-acerca-de>

<!-- //////////////// SECCION EXPERIENCIA ///////////////////////-->
<app-experiencia></app-experiencia>

<!-- //////////////// SECCION EDUCACION /////////////////////////-->
<app-educacion></app-educacion>

<!-- //////////////// SECCION SKILLS ////////////////////////////-->
<app-skills></app-skills>

<!-- //////////////// SECCION PROYECTOS /////////////////////////-->
<app-proyectos></app-proyectos>

<!-- //////////////// SECCION CONTACTO //////////////////////////-->
<app-contacto></app-contacto>

<!-- //////////////// SECCION PIE ////////////////////////////-->
<app-pie></app-pie>